<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plat.sdk">

    <application
        android:name="com.flavors.mvp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="icon,label,theme">
        <!--tools:node="replace" 替代父类application的所有属性-->

        <meta-data
            android:name="VERSION_BUILD_DATE"
            android:value=":${Demo_DeviceVersion_Value}" />

        <activity
            android:name="com.plat.sdk.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            tools:node="replace" />

        <activity
            android:name="com.flavors.mvp.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateUnchanged|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
    </application>


</manifest>